html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


/*
 * Fit phone browsers
 * Change sidenav width and toggle div's left attribute to 25% when sidenav has been opend
 */

@media screen and (max-width: 2000px) {
  #mySidenav.open {
    width: 25%;
  }
  #toggle-side-panel.panel-open {
    left: 25%;
  }
}


/*
 * Fit tablet browsers
 * Change sidenav width and toggle div's left attribute to 80% when sidenav has been opend
 */

@media screen and (max-width: 1200px) {
  #mySidenav.open {
    width: 50%;
  }
  #toggle-side-panel.panel-open {
    left: 50%;
  }
}

/*
 * Fit desktop browsers
 * Change sidenav width and toggle div's left attribute to 80% when sidenav has been opend
 */

@media screen and (max-width: 460px) {
  #mySidenav.open {
    width: 80%;
  }
  #toggle-side-panel.panel-open {
    left: 80%;
  }
}


/* Show error infos when the browser has trouble load Google Map API  */

.map-error-info {
  display: block;
  font-size: 3em;
  position: relative;
  left: 0px;
  right: 0px;
  top: 35%;
}


/* css for the div to open or close side panel */

#toggle-side-panel {
  border-radius: 2px;
  position: fixed;
  top: 15%;
  left: 0;
  padding: 1.8em 0.8em;
  background: white;
  border: 1px solid #E6E6E6;
  z-index: 2;
  transition: 0.5s
}


/*
 * When side panel is closed
 * this icon shows in toggle div
 */

.open-panel-icon {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}


/*
 * When side panel is opened
 * this icon shows in toggle div
 */

.close-panel-icon {
  visibility: hidden;
  content: "";
  position: absolute;
  top: 40%;
  left: 15%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}


/*
 * css for popuptext span to show tips info
 * it is hidden by default
 * it will be showed when cursor over toggle button and disappear when cursor leave it
 */

#toggle-side-panel .popuptext {
  visibility: hidden;
  width: 10em;
  line-height: 100%;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 2px;
  padding: 6px 2px;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: 130%;
}


/* Show tips info in popuptext span when cursor over toggle div */

#toggle-side-panel .show {
  visibility: visible;
}


/* left triangle arrow beside popuptext span */

#toggle-side-panel .popuptext::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -6%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}


/*
 * The side panel
 * its width is 0 by default
 */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  overflow-x: hidden;
  transition: 0.5s;
}


/*
 * searchbox
 * it contains a search input
 * a clear button
 * and a clear float div
 */

.sidenav .searchbox {
  padding: 0 1em;
  background: #4285f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.sidenav .searchbox .search-input {
  float: left;
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding: 0 0.4em;
  margin: 1em 0 1em 1em;
  line-height: 4.5em;
  width: 90%;
  outline: none;
}

.sidenav .searchbox span {
  display: inline-block;
  float: left;
  background: white;
  line-height: 2.5em;
  margin: 1em 0;
  width: 10%;
  text-align: center;
}

.glyphicon-remove {
  position: absolute;
  right: 10%;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* clear float */

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}


/* weather info container */

.weather{
  position: relative;
  height: 30%;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
  background: #4285f4;
  color: #fff;
}

/* weather info contains city, temperature, description and weather condition icon */

.weather .weather-city {
  position: absolute;
  left: 8%;
  bottom: 60%;
  font-size: 2em;
}

.weather .weather-temp {
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.weather .weather-description {
  position: absolute;
  left: 10%;
  bottom: 20%;
}

.weather img {
  position: absolute;
  right: 10%;
  bottom: 45%;
  height: 50%;
  width: 25%;
}


/* titles ul element store all default locations */

.sidenav .places {
  padding: 0 1em;
}


/* store every default locations */

.sidenav .places li {
  padding: 1em 0.4em;
  text-decoration: none;
  font-size: 1.2em;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* set cursor style to pointer when hover on element */

.sidenav .places:hover {
  cursor: pointer;
}


/* map container div*/

#map {
  float: left;
  width: 100%;
  height: 100%;
}


/* streetview div */

#pano {
  width: 200px;
  height: 200px;
}
